/* FONTS */

@import url(//fonts.googleapis.com/css?family=Abril+Fatface);

@font-face {
    font-family: 'Abril Fatface', sans-serif;
}


@import url(//fonts.googleapis.com/css?family=Pontano+Sans);

@font-face {
    font-family: 'Pontano Sans', sans-serif;
}


/* ---------------------------------------- END FONTS ---------------------------------------- */





/* BUTTONS */

a .blue_button{
	width: 200px;
	height: 50px;
	background-color: #0500e5;
	border: none;
	color: white;
	font-size: 18px;
	font-family: 'Pontano Sans', sans-serif;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 25px;
	box-shadow: 0px 15px 35px rgba(5, 0, 229, .6);
	margin-top: 50px;
	cursor: pointer;
	outline: none;
}

.bottom{
	position: absolute;
	bottom: 10%;
	left: 0px;
	right: 0px;
	margin: auto;
}

a .white_button{
	width: 200px;
	height: 50px;
	background-color: white;
	border: none;
	color: #0500e5;
	font-size: 18px;
	font-family: 'Pontano Sans', sans-serif;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 25px;
	box-shadow: 0px 15px 35px rgba(5, 0, 229, .6);
	margin-top: 50px;
	cursor: pointer;
	outline: none;
}


#home{
	display: block !important;
	height: 155px;
	margin: auto;
	width: 155px;
	position: fixed;
	top: 68px;
	left: 0px;
	right: 0px;
	z-index: 1;
}

#home img{
	width: 100%;
	height: auto;
}

.visible{
	display: block !important;

}

.none{
	display: none;
}


/* ---------------------------------------- END BUTTONS ---------------------------------------- */

html{
	height: 100%;
	margin: 0px;
}


body{
	height: 100%;
	margin: auto;
	background: url(../assets/heyandrw-background-texture.jpg) fixed;
	font-family: 'Abril Fatface', sans-serif;
	background-size: cover;
  	text-align: center;
}


/* ---------------------------------------- HOME ---------------------------------------- */

#heyandrw-home{
	width: 100%;
	height: 100%;
	margin:auto;
	z-index: 111;
	-webkit-box-sizing:border-box;
 	-moz-box-sizing:border-box;
 	-ms-box-sizing:border-box;
  	box-sizing:border-box;
  	border: solid 15px #0500e5;
}

h1.heyandrw{
	display: block !important;
	height: 155px;
	margin:50px auto;
	width: 155px;
	background: url(../assets/heyandrw.png) no-repeat;
	background-size: cover;
	position: relative;
	z-index: 3;
}

h1.heyandrw span{
	display: none;
}

#heyandrw-home .color{
	width: 1180px;
	height: 250px;
	margin: auto;
	background: url(../assets/heyandrw-fold.jpg) scroll;
	background-size: cover;	
	background-position: center;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	box-shadow: 0px 10px 70px rgba(0,0,0,.7);
	z-index: 5;
}

.down{
	margin: 60px auto;
	width: 20px ;
	height: 10px ;
	position: absolute;
	bottom: 5%;
	left: 0px;
	right: 0px;
	margin: auto;
}

#heyandrw-home .color .word{
	width: 380px;
	height: 245px;
	margin:auto;
	position: relative;
	top: 20px;
}

#heyandrw-home .color span{
	display: block;
}

#heyandrw-home .color span.divider{
	height: 210px;
	width: 1px;
	background: white;
	margin: auto;

}

#heyandrw-home .color span.designer{
	font-family: 'Abril Fatface', sans-serif;
	font-size: 100px;
	width: 170px;
	color: white;
	float: right;
	right: 0px;
	top: 0px;
	line-height: 67px;
	text-align: left;
	position: absolute;
	text-shadow: 0px 0px 8px black;
}

#heyandrw-home .color span.firstWord{
	width: 150px;
	font-family: 'Abril Fatface', sans-serif;
	color: white;
	font-size: 70px;
	float: left;
	left: 20px;
	top: 5px;
	line-height: 70px;
	position: absolute;
	word-break: break-all;
	text-align: right;
}



/* ---------------------------------------- ABOUT ---------------------------------------- */

section#about-heyandrw{
	width: 100%;
	height: 100%;
	background: url(../assets/heyandrw-background-texture-blue.jpg) fixed;
	z-index: 3333;
	-webkit-box-sizing:border-box;
 	-moz-box-sizing:border-box;
 	-ms-box-sizing:border-box;
  	box-sizing:border-box;
  	border: solid 15px black;
  	margin: auto;
}

section#about-heyandrw .container{
	width: 1000px;
	height: auto;
	margin: 50px auto;
}

section#about-heyandrw .container .heyandrw-photo{
	display: block;
	width: 460px;
	height: 720px;
	background: url(../assets/heyandrw-photo.jpg);
	background-size: cover;
	float: left;
	box-shadow: -12px 12px 100px #0a088b;
	border:solid 2px black;
}

section#about-heyandrw .container .aboutText{
	width: 420px;
	height: auto;
	color: white;
	font-size: 22px;
	font-family: 'Pontano Sans', sans-serif;
	text-align: left;
	float: right;
}

section#about-heyandrw .container .aboutText a{
	color: #00ff00;
	text-decoration: underline;
}

section#about-heyandrw .container .aboutText h2{
	font-family: 'Abril Fatface', sans-serif;
	font-size: 85px;
	letter-spacing: 2px;
}

span.emoji{
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 0px 5px -8px 5px;
}

.andrw{
	background: url(../assets/mostache.png);
	background-size: cover;
}

.monoku{
	background: url(../assets/monoku.png);
	background-size: cover;
}

.hey{
	background: url(../assets/hey.png);
	background-size: cover;
}

.music{
	background: url(../assets/music.png);
	background-size: cover;
}

.cat{
	background: url(../assets/cat.png);
	background-size: cover;
}

.pma{
	background: url(../assets/pma.png);
	background-size: cover;
}


/* ---------------------------------------- MY WORK ---------------------------------------- */

section#work-heyandrw{
	width: 99%;
	height: 100%;
	background: url(../assets/heyandrw-background-texture.jpg) fixed;
	z-index: 3333;
}

















