#preloader{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: white;
 	 z-index:999999999999999999999;
}

#preloader #status{
	width: 100px;
	height: 113px;
	position: absolute;
	margin: auto;
	top: -100px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

#preloader #status img{
  width: 100%;
  height: auto;
}






/* FONTS */

@import url(//fonts.googleapis.com/css?family=Abril+Fatface);

@font-face {
    font-family: 'Abril Fatface', sans-serif;
}


@import url(http://fonts.googleapis.com/css?family=Lato);

@font-face {
    font-family: 'Lato', sans-serif;
}

body{
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	background: #F8F8F8;
}

header{
	height: 120px;
	width: 100%;
	margin: auto;
	text-align: center;
	position: fixed;
	z-index: 999;
}

header h1.heyshop{
	width: 98px;
	height: 98px;
	margin: auto;
	top: 15px;
	position: relative;
	z-index: 999;
}

header h1.heyshop img{
	width: 100%;
	height: auto;
}

section.fold{
	width: 96%;
	margin: auto;
	position: relative;
	top:150px;
	height: 460px;
	padding: 0px;
	background: url(assets/fold.png) center bottom;
	background-size: cover;

}

section.fold .text{
	width: 503px;
	height: 143px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	margin: auto;
}

section.fold .text img{
	width: 100%;
	height: auto;
}

section.fold a.link_pro{
	width: 100%;
	text-align: center;
	font-weight: 200;
	color: white;
	text-decoration: none;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 50px;
	margin: auto;
}

section.fold a.link_pro:before{
	display: block !important;
	content:"";
	display: inline-block;
	width: 0; 
  	height: 0; 
  	position: absolute;
  	left: 0px;
  	right: 0px;
  	margin: auto;
  	top:30px;
  	border-left: 7px solid transparent;
  	border-right: 7px solid transparent;
  	border-top: 7px solid #F5A623;
  	transition: .4s;
}
section.fold a.link_pro:hover:before{
	top:35px;
}


section#productos{
	width: 940px;
	height: auto;
	margin: auto;
	text-align: center;
	position: relative;
	top: 250px;
}

section#productos ul.lineas{
	width: 100%;
	padding: 0px;
	margin: auto;
	height: 724px;
}

section#productos ul.lineas li{
	width: 427px;
	height: 724px;
	display: block;
	background: url(assets/bg.png);
	background-size: cover;
}

section#productos ul.lineas li h2{
	color: white;
	font-size: 55px;
	font-family: 'Abril Fatface', sans-serif;
}

section#productos ul.lineas li span.disponibles{
	color: #4A4A4A;
	font-size: 28px;
	font-weight: 200 !important;
	position: relative;
	top:-35px;
}

section#productos ul.lineas li div.preview{
	width: 100%;
	height: 437px;
	margin: auto;
}

section#productos ul.lineas li div.preview img{
	width: 320px;
	height: auto;
	position: relative;
	left: -40px;
}

section#productos ul.lineas li a.button_ver{
	color: white;
	text-decoration: none;
	width: 303px;
	text-align: center;
	border-radius: 43px;
	border: solid 2px white;
	height: 50px;
	display: block;
	font-size: 24px;
	font-weight: 200;
	padding-top: 15px;
	margin: auto;
	position: relative;
	top: -10px;
}

section#productos ul.lineas li.pre-venta{
	float: left;
}

section#productos ul.lineas li.venta{
	float: right;
}


span.divider{
	width: 80%;
	height: 1px;
	background: #979797;
	display: block !important;
	margin: 60px auto;
	position: relative;
	top:300px;
}

div.diseno{
	width: 100%;
	height: 120px;
	text-align: center;
	margin: auto;
	position: relative;
	top:300px;
}

div.diseno span {
	color: #4A4A4A;
	font-weight: 200;
	font-size: 17px;
	margin: 30px auto;
}

div.diseno img{
	width: 125px;
	height: auto;
	margin: 30px auto;
	border-radius: 50%;
}



/* interior productos */

.foldpro{
	width: 20%;
	height: 1px;
	background: url(assets/bg.png);
	background-size: cover;
	text-align: center;
	padding-top: 1px;
	margin: auto;
	font-family: 'Abril Fatface', sans-serif;
	color: #4A4A4A;
	position: relative;
	top: 250px; 
}

.foldpro h2{
	height: 1px;
	display: block;
	font-size: 40px;
	position: relative;
	top: -120px;
}

ul.descripcion li.preview a.button_comprar{
	background: #F9A943;
	color: white;
	text-decoration: none;
	width: 200px;
	text-align: center;
	border-radius: 43px;
	border: solid 2px white;
	height: 40px;
	display: block;
	font-size: 19px;
	font-weight: 200;
	padding-top: 15px;
	margin: 30px auto;
	position: relative;
	top: 0px;
}


ul.descripcion{
	width: 100%;
	height: auto;
	margin-top: 60px;
}

ul.descripcion li{
	list-style: none;
}


ul.descripcion li.preview{
	width: 427px;
	height: 600px;
	background: white;
	box-shadow: 0px 0px 15px rgba(0,0,0,.1);
}

ul.descripcion .preview img{
	width: 70%;
	height: auto;
	border: none;
	margin: 20px auto;
}

ul.descripcion .preview h3{
	font-size: 20px;
	font-weight: 200;
}


/* venta */

.container{
	width: 620px;
	height: auto;
	position: relative;
	margin: auto;
	top:200px;
}


span.breadcrum{
	font-family: OpenSans-Light;
	font-size: 20px;
	color: #4A4A4A;
	letter-spacing: 0px;
}

.container h2{
	font-family: AbrilFatface-Regular;
	font-size: 93px;
	color: #F5A623;
	letter-spacing: 0px;
	margin: -10px auto;
}

.container section.producto{
	background-image: linear-gradient(-180deg, #FAD961 0%, #F76B1C 100%);
	box-shadow: 0px 0px 54px 0px rgba(0,0,0,0.12);
	border-radius: 9px;
	width: 100%;
	height: 600px;
	margin: 90px auto;
}

.container section.producto .innercontainer{
	width: 97%;
	height: auto;
	margin: auto;
}

.container section.producto .innercontainer .imgpro{
	float: left;
	width: 360px;
	height: auto;
	left: -150px;
	overflow: hidden;
	position: relative;
	top:30px;
}  

.container section.producto .innercontainer .imgpro img{
	width: 110%;
	height: auto;
	float: left;
	left: -40px;
	position: relative;
}

.container section.producto .innercontainer .descrip{
	float: right;
	width: 370px;
	height: auto;
	position: absolute;
	right: 0px;
	top:270px;

}

.container section.producto .innercontainer .descrip h3{
	font-family: Abril Fatface;
	font-size: 45px;
	color: #FFFFFF;
	letter-spacing: 0px;
	margin: -20px auto 10px auto;
}

.container section.producto .innercontainer .descrip  span.decriptext{
	font-family: Lato;
	font-size: 17px;
	color: #000000;
	font-weight: 200;
	letter-spacing: 0px;
	margin: 20px auto;
	position: relative;
}

.spotify{
	margin: 20px auto;
}

.container section.producto .innercontainer .descrip  .price{
	font-family: Abril Fatface;
	position: relative;
	float: left;
	margin: -30px auto;
	font-size: 35px;
	color: #FFFFFF;
	height: auto;
}

.botoncompra{
	float: left;
	position: relative;
	top:20px;
	left: -20px;
}

span.smalltext{
	font-size: 12px;
	color: white;
}