/* FONTS */

@import url(//fonts.googleapis.com/css?family=Abril+Fatface);

@font-face {
    font-family: 'Abril Fatface', sans-serif;
}


@import url(//fonts.googleapis.com/css?family=Enriqueta:400,700);

@font-face {
	font-family: 'Enriqueta', serif;
}


//--- clearfix

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
 }
.clearfix { display: inline-table; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


/* ---------------------------------------- END FONTS ---------------------------------------- */

#preloader{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: white;
 	 z-index:999999999999999999999;
}

#preloader #status{
	width: 100px;
	height: 113px;
	position: absolute;
	margin: auto;
	top: -100px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

#preloader #status img{
  width: 100%;
  height: auto;
}






/* BUTTONS */

a .purple_button{
	width: 200px;
	height: 45px;
	background-color: #02FCF2;
	appearance: none !important;
	border: none;
	color: #000000;
	font-size: 16px;
	font-family: 'Enriqueta', serif;
	letter-spacing: 1px;
	-webkit-appearance: none !important;
	text-align: center;
	border-radius: 25px;
	cursor: pointer;
	outline: none;
	position: relative;
	left:0px;
	float: left;
}

a.button:after{
	display: inline-block;
	position: relative;
	float: left;
	left:-200px;
	top: -10px;
	transition: .5s;
	content: url("../assets/figure1.png");
}


a.button:hover:after{
	left:-190px;
	top: -15px;
	transition: .5s;
}

a.button:before{
	display: inline-block;
	position: relative;
	float: right;
	left: -308px;
	z-index: 88;
	top: 0px;
	content: url("../assets/figure2.png");
	transition: .5s;
}

a.button:hover:before{
	left: -268px;
	top: 10px;
}


a .light_button{
	width: 200px;
	height: 50px;
	background-color: #0bf0e2;
	border: none;
	-webkit-appearance: none !important;
	color: white;
	font-size: 18px;
	font-family: 'Enriqueta', serif;font-family: 'Enriqueta', serif;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 25px;
	margin:50px auto;
	float: left;
	cursor: pointer;
	outline: none;
}

a .line_button{
	width: 200px;
	height: 50px;
	background-color: transparent;
	border:solid 1px white;
	-webkit-appearance: none !important;
	color: white;
	font-size: 18px;
	font-family: 'Enriqueta', serif;
	letter-spacing: 1px;
	text-align: center;
	border-radius: 25px;
	margin:50px 30px;
	float: left;
	cursor: pointer;
	outline: none;
}

.white{
	color: white !important;
}

.visible{
	display: block !important;

}

.none{
	display: none;
}


.heyandrw-home{
	display: none;
	height: 110px;
	display: none;
	margin:auto;
	width: 110px;
	background: url(../assets/heyandrw-letters.png) no-repeat;
	background-size: 100% 100%;
	float: left;
	top: 30px;
	left: 0px;
	z-index: 3;
}

ul.menu{
	width: auto;
	height: 60px;
	padding: 0px;
	float: right;
	right: 40px;
	top: 80px;
	z-index: 888;

}

ul.menu a{
	color: white;
	font-size: 20px;
	font-family: 'Enriqueta', serif;
	font-weight: 600;
	text-decoration: none;
}

ul.menu a li{
	border-bottom: solid 2px white;
	list-style: none;
	height: 12px;
	display: inline-block;
	margin: 0px 30px 0px 30px;
	transition: .3s;
}

ul.menu a li:hover{
	border-bottom: solid 2px #0bf0e2 ;
	padding-bottom: 20px;
}

.active{
	border-bottom: solid 2px #0bf0e2 !important;
	padding-bottom: 20px;
}


/* ---------------------------------------- END BUTTONS ---------------------------------------- */

html{
	height: 100%;
	margin: 0px;
}


body{
	height: 100%;
	margin: auto;
	background:#0E0E0E;
	background-position: top;
	font-family: 'Abril Fatface', sans-serif;
	background-size: cover;
  	text-align: center;
}

.layout{
	width: 1170px;
	position: relative;
	top: 180px;
	height: auto;
	margin:  auto;
	text-align: center;
}

.fixed{
	position: fixed;
	top: 35px;
	height: 55px;
	right: 0px;
	left: 0px;
	margin: auto;
	z-index: 9999;
}




/* ---------------------------------------- menu ---------------------------------------- */

nav#menu_btn{
	width: 100%;
	height: 150px;
	position: fixed;
	z-index: 9999;
}

nav#menu_btn h1{
	width: 100px;
	height: 100px;
	background-size: 100% 100%;
}

nav#menu_btn #menu{
	width: 40px;
	height: 20px;
	float: right;
	right: 152px;
	position: absolute;
	top: 80px;
	cursor:pointer;
}

nav#menu_btn #menu span{
	width: 40px;
	height: 1px;
	margin-top: 3px;
	background: white;
	display: block;
	position: relative;
	transition: .3s;
}

nav#menu_btn #menu span.close{
	display: none;
}


nav#menu_btn #menu span.close:first-child{
	transform: rotate(45deg);
	display: block !important;
}

nav#menu_btn #menu span.close:last-child{
	transform: rotate(-45deg);
	top: -7px;
	display: block !important;
}


nav#menu_btn #menu:hover span.close:first-child{
	transform: rotate(48deg);
	display: block !important;
	top: 0px !important;
}

nav#menu_btn #menu:hover span.close:last-child{
	transform: rotate(-48deg);
	top: -3px !important;
	display: block !important;
}

nav#menu_btn #menu span:first-child{
	top: -3px;
}


nav#menu_btn #menu:hover span:first-child{
	top: -5px;
}


nav#menu_btn #menu span:last-child{
	top: 3px;
}

nav#menu_btn #menu:hover span:last-child{
	top: 5px;
}


div#menu_open{
	display:none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999;
	background-image: linear-gradient(90deg, rgba(0,0,0,0.00) 6%, #111111 78%);
}

div#menu_open ul{
	padding: 0px;
	width: 188px;
	height: 320px;
	position: absolute;
	right: 145px;
	top:140px;
}

div#menu_open ul li{
	list-style: none;
	text-align: right;
	margin:12px auto;
	transition: .5s;
}


div#menu_open ul li a{
	color: white;
	text-decoration: none;
	font-size: 35px;
	font-family: 'Enriqueta', serif;
	transition: .7s;
}


div#menu_open ul li a:hover{
	color: #02D1C9;
	transition: .3s;
}



/* ---------------------------------------- HOME ---------------------------------------- */

#heyandrw-home{
	width: 100%;
	height: 928px;
	background: url(../assets/heyandrw_hero.jpg) right fixed;
	background-size: cover;
	margin:auto;
	z-index: 1;
	overflow: hidden;
}

#heyandrw-home nav#redes{
	width: 252px;
	height: 25px;
	margin: 0px 0px 80px 100px;
}
#heyandrw-home nav#redes ul{
	padding: 0px;
	margin:auto;
	height: 24px;
}

#heyandrw-home nav#redes ul a{
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Enriqueta', serif;
	font-weight: 400;
}

#heyandrw-home nav#redes ul a li{
	display: inline-block;
	position: relative;
	margin: auto;
}

#heyandrw-home nav#redes ul a li:after{
	width: 100%;
	height: 1px;
	background: rgba(255,255,255,.2);
	display: block;
	content: "";
	position: relative;
	top: 5px;
	transition: .7s;
}

#heyandrw-home nav#redes ul a li:hover:after{
	height: 2px;
	background: rgba(255,255,255,.9);
}

#heyandrw-home nav#redes ul a li:first-child{
	margin: 0px 32px 0px 0px;
}

#heyandrw-home nav#redes ul a li:last-child{
	margin: 0px 0px 0px 32px;
}

.figure{
	background: url(../assets/heyandrw-figures.png) left no-repeat;
	width: 100%;
	height: 928px;
	margin:auto;
	text-align: center;
	z-index: 111;
}

h1.heyandrw{
	display: block !important;
	height: 100px;
	margin: 49px 0px 66px 130px;
	width: 100px;
	background: url(../assets/heyandrw-letters.png) no-repeat;
	background-size: cover;
	left:0px;
	position: relative;
	z-index: 3;
	top:0px;
}

h1.heyandrw span{
	display: none;
}

#heyandrw-home .words{
	width: 484px;
	height:322px;
	margin: 0px 0px 0px 126px;
	position: relative;
}
#heyandrw-home div.designer{
	width: 484px;
	height: 80px;
	margin: 0px 0px 25px 0px;
}

#heyandrw-home div.designer img{
	width: 100%;
	height: auto;
}

#heyandrw-home div.first-word{
	width: 484px;
	height: 30px;
	left: 0px;
	right: 0px;
	margin: 0px 0px 85px 0px;
	position: relative;
	color: white;
	font-family: 'Enriqueta', serif;
	font-weight:400;
	text-align: left;
	font-size: 35px;
}




/* ---------------------------------------- ABOUT ---------------------------------------- */

section#about-heyandrw{
	width: 100%;
	height: 1542px;
	background: url(../assets/bg-about-heyandrw.jpg) no-repeat;
	background-size: cover;
	background-position: top;
	z-index: 2;
  	margin:auto;
  	position: relative;
}

section#about-heyandrw .layout .aboutText{
	width: 530px;
	height: 1340px;
	color: white;
	font-weight: 100;
	font-size: 35px;
	font-family: 'Enriqueta', serif;
	text-align: left;
	position: relative;
	line-height: 57px;
	top: 96px;
	position: relative;

}

section#about-heyandrw .layout .aboutText a{
	color:#0bf0e2;
	border-bottom: 1px solid;
	text-decoration: none;
	font-weight: 300;
}

.layout h2{
	font-family: 'Abril Fatface', sans-serif;
	font-size: 125px;
	letter-spacing: 2px;
	margin:0px auto 120px auto;
	text-align: left;
	color: white;
}

span.emoji{
	width: 32px;
	height: 35px;
	display: inline-block;
	margin: 0px 10px -8px 10px;
	background-repeat: no-repeat;
}

.andrw{
	background: url(../assets/mostache.png) no-repeat;
	background-size: 97% 100%;
}

.monoku{
	background: url(../assets/monoku.png)no-repeat;
	background-size: 100% 90%;
}

.hey{
	background: url(../assets/hey.png)no-repeat;
	background-size: 100% 95%;
}

.music{
	background: url(../assets/music.png)no-repeat;
	background-size: 100% 100%;
}
.cat{
	background: url(../assets/cat.png);
	background-size: 100% 100%;
}

.pma{
	background: url(../assets/pma.png);
	background-size: 85% 100%;
}

.desing{
	background: url(../assets/design.png);
	background-size: 100% 90%;
}

.ok{
	background: url(../assets/ok.png);
	background-size: 100% 100%;
}

.learn{
	background: url(../assets/learn.png);
	background-size: 100% 100%;
}


/* ---------------------------------------- MY WORK ---------------------------------------- */

section#work-heyandrw{
	width: 100%;
	height: 2920px;
	background: url(../assets/bg-about-heyandrw.jpg) bottom;
	background-size: cover;
	position: relative;
	margin: auto;
	z-index: 2;
	text-align: center;
}


.contact-button{
	margin: 80px auto !important;
	position: relative !important;
	width: 300px !important;
}

ul.firstlist{
	display: inline-block;
	width: 1180px;
	height:476px;
	margin: 20px auto;
	padding: 0px;

}



ul.firstlist a {
	cursor: pointer;
}


ul.firstlist a li{
	opacity: .8;
	cursor: pointer;
	display: block;
	background-position: bottom;
	list-style: none;
	background: white;
	width: 270px;
	height: 400px;
	transition: .5;
}

ul.firstlist a li img{
	width: 100%;
	height: auto;
}

ul.firstlist a li:hover{
	opacity: 1;
	box-shadow: 0px 0px 200px black;
}


ul.firstlist a:first-child li{
	width: 880px;
	height: 476px;
	float: left;
}

ul.firstlist a:last-child li{
	width: 280px;
	height: 476px;
	float: right;
}



ul.secoundlist{
	width: 1180px;
	height:auto;
	margin: 0px auto;
	position: relative;
	padding: 0px;
}

ul.secoundlist a {
	cursor: pointer;
}


ul.secoundlist a li{
	opacity: .8;
	cursor: pointer;
	display: inline-block;
	background-position: bottom;
	list-style: none;
	background: white;
	width: 780px;
	height: 300px;
	float: right;
}

ul.secoundlist a li img{
	width: 100%;
	height: auto;
}


ul.secoundlist a li:hover{
	opacity: 1;
	box-shadow: 0px 0px 200px black;
}



ul.secoundlist a:last-child li{
	margin-top: 18px;

}

ul.secoundlist a:first-child li{
	width: 380px;
	height: 618px;
	float: left;
}







/* ---------------------------------------- projects classes ---------------------------------------- */

.heyfont{
	background: url(../assets/projects/heyfont.jpg) !important; 
	background-size: cover !important;
}


.perd{
	background: url(../assets/projects/perdural.jpg) !important; 
	background-size: cover !important;
}

.gods{
	background: url(../assets/projects/gods.jpg) !important; 
	background-size: cover !important;
}

.ui{
	background: url(../assets/projects/uiux.jpg) !important; 
	background-size: cover !important;
}

.bio{
	background: url(../assets/projects/bio.jpg) !important; 
	background-size: cover !important;
}


.spo{
	background: url(../assets/projects/spotify.png) center !important; 
	background-size: cover !important;
}



/* ---------------------------------------- contact ---------------------------------------- */

section#contact-heyandrw{
	width: 100%;
	height: 760px;
	background: url(../assets/bg-contact-heyandrw.jpg) bottom fixed;
	text-align: center;
}

section#contact-heyandrw .form{
	position: relative;
	width: 840px;
	height: 480px;
	text-align: left;
	font-family: 'Enriqueta', serif;
	color: white;
	left:126px;
	top: 200px;
	line-height: 32px;
	font-size: 18px;
}

section#contact-heyandrw .form input.datos{
	width: 250px;
	height: 40px;
	margin:15px 10px 15px 0px;
	appearance:none;
	outline: none;
	font-size: 20px;
	background: transparent;
	color: #02FCF2;
	font-family: 'Enriqueta', serif;
	border:none;
	border-bottom: solid 1px white;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255,255,255,.3);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,.3);
}
:-ms-input-placeholder { /* IE 1255+ */
  color: rgba(255,255,255,.3);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255,.3);
}


section#contact-heyandrw .form textarea{
	width: 100%;
	resize: none;
	text-align: left;
	height: 80px;
	margin:15px 20px 15px 0px;
	appearance:none;
	outline: none;
	font-size: 20px;
	background: transparent;
	color: #02FCF2;
	font-family: 'Enriqueta', serif;
	border:none;
	border-bottom: solid 1px white;
}

input.boton_enviar{
	width: 200px;
	height: 45px;
	background-color: #02FCF2;
	appearance: none !important;
	border: none;
	color: #000000;
	font-size: 16px;
	font-family: 'Enriqueta', serif;
	letter-spacing: 1px;
	-webkit-appearance: none !important;
	text-align: center;
	border-radius: 25px;
	cursor: pointer;
	outline: none;
	position: relative;
	left:0px;
	float: left;
	margin-top: 40px;
}






















