html{
	height: 100%;
	margin: 0px;
}


body{
	height: 100%;
	background: url(assets/heyandrw-background-texture.jpg);
	background-size: cover;
}

.logo{
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}
