@media (max-width: 1170px) {
  	.layout{
		width: 90%;
	}

	section#work-heyandrw{
		padding-bottom: 300px;
		height: auto;
	
	}


	ul.firstlist{
		width: 90%;
		height: auto;
	 }

	ul.firstlist, ul.secoundlist{
		width: 90%;
	}


	ul.firstlist a li img, ul.secoundlist a li img{
		position: relative;
		vertical-align: middle;
		right: 0px;
		top: 0px;
		bottom: 0px;
		margin: auto;
		overflow: hidden;
	}

	ul.firstlist a li{
		width:45%;
		height: 400px;
		transition: .5;
		overflow: hidden;
	}


	ul.firstlist a:first-child li{
		width: 48%;
		height: auto;
		height: 200px;
		overflow: hidden;
	}

	ul.firstlist a:last-child li{
		width: 48%;
		height: auto;
		height: 200px;
		overflow: hidden;
	}

	ul.secoundlist{
		width: 90%;
		height: auto;
	 }

	ul.secoundlist, ul.secoundlist{
		width: 90%;
		height: auto;
	}

	ul.secoundlist a li{
		width:48%;
		height: 200px;
		transition: .5;
	}


	ul.secoundlist a:first-child li{
		width: 48%;
		height: auto;
		height: 200px;
		overflow: hidden;
	}

	ul.secoundlist a:last-child li{
		width: 48%;
		height: auto;
		height: 200px;
		overflow: hidden;
		float: left;
	}

	
}

@media (max-width:1000px){
	section#contact-heyandrw .form{
		width: 85%;
		left:10%;
	}

	section#contact-heyandrw{
		width: 100%;
		height: 900px;
		padding-bottom: 200px;
		background: url(../assets/bg-contact-heyandrw.jpg) bottom fixed;
		text-align: center;
	}

}





@media (max-width: 650px){

	h1.heyandrw{
		margin: 49px 0px 120px 5%;
	}


	#heyandrw-home div.designer{
		width: 95%;
		height: auto;
		margin: 0px 0px 4% 0px !important;
	}

	#heyandrw-home .words{
		width:90%;
		height:322px;
		float: left;
		margin: 0px 0px 0px 7%;
		position: relative;
	}

	 #heyandrw-home div.first-word{
	 	width: 85%;
		font-size: 25px;
		top: -10px;
	}

	#heyandrw-home nav#redes{
		width: 252px;
		height: 25px;
		margin: 0px 0px 16% 2%;
	}

	section#about-heyandrw .layout .aboutText{
		width: 90%;
		font-size: 30px;
	}

	span.emoji{
		width: 25px;
		height: 25px;
		display: inline-block;
		margin: 0px 5px -8px 5px;
	}

	.layout h2{
		font-size: 70px;
	}


}





@media (max-width: 550px) {

	ul.menu a li{
		display: none;
	}

	ul.menu a:last-child li{
		display: block !important;
		border: none;
		float: right;
		position: relative;
		right: -30px !important;
	}



}